*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8F7F2;
} 

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .align-element {
        @apply mx-auto max-w-7xl px-8
    }
}

nav {
    background: #F8F7F2;
    box-shadow: 10px 5px 5px #dfdedb ;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.nav-toggle {
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
    transition: transform .2s;
}


.logo {
    height: 50px;
    cursor: pointer;
}

.links a {
    color:black;
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    display: block;
    padding: 0.5rem 2rem;
    transition: 1s ease-in-out;
}



.links-container {
    overflow: hidden;
    transition: 0.3s ease-in-out all;
}

.show-container {
    height: 10rem;
}

.social-icons {
    display: none;
}

@media screen and (min-width:800px) {
    .nav-toggle {
        display: none;
    }

    .nav-header {
        padding: 0;
    }

    .nav-center {
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }
    
    .links-container {
        height: auto!important;
    }

    .links {
        display: flex;
        gap: 0.5rem;
    }

    .links a {
        padding: .5rem 0.75rem;
    }

    .social-icons {
        display: flex;
        gap: 1.5rem;
    }

    .social-icons a {
        transition: 0.3s ease-in-out all;
    }
    .social-icons a:hover {
        transform: scale(1.2);
    }
}


/* Web creations section, added Live and Code links below the icons */
.liveSite {
    display: inline-block;
    padding-top: 1rem;
    border-bottom: 1px solid #BBAB8C;
    font-size: 1rem;
}


#footer {
    background-color: #000b19;
    color: #F8F7F2;
}



