*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue-primary:(#03449D);
    --blue-hover:(#2863b4);
    --white-text:(#F8F7F2);
    --transition:(0.3s ease-in-out all);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .align-element {
        @apply mx-auto max-w-7xl px-8
    }
}

nav {
    background: #03449D;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.nav-toggle {
    font-size: 1.5rem;
    color: #F8F7F2;
    cursor: pointer;
    transition: transform .2s;
}

.nav-toggle:hover {
    transform: scale(1.2);
}

.logo {
    height: 40px;
    cursor: pointer;
}

.links a {
    color:#F8F7F2;
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    display: block;
    padding: 0.5rem 2rem;
    transition: 0.3s ease-in-out all;
}

.links a:hover {
    background: #2863b4;
}

.links-container {
    overflow: hidden;
    transition: 0.3s ease-in-out all;
}

.show-container {
    height: 10rem;
}

.social-icons {
    display: none;
}

@media screen and (min-width:800px) {
    .nav-toggle {
        display: none;
    }

    .nav-header {
        padding: 0;
    }

    .nav-center {
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }
    
    .links-container {
        height: auto!important;
    }

    .links {
        display: flex;
        gap: 0.5rem;
    }

    .links a {
        padding: .5rem 0.75rem;
        border-radius: 10px;
    }

    .social-icons {
        display: flex;
        gap: 0.5rem;
    }

    .social-icons a {
        color: #F8F7F2;
        transition: 0.3s ease-in-out all;
    }
    .social-icons a:hover {
        transform: scale(1.2);
    }
}